{% extends "layouts/layout.njk" %}


{% block head %}{{ super() }}<meta name="robots" content="noindex" /><link rel="stylesheet" href="/assets/css/404.css" />{% endblock %}

{% block content %}
  <section class="error">
    <h1>{{ heading }}</h1>
    {{ renderContent(content) }}
  </section>
{% endblock %}
